<?xml version="1.0"?>
<webResources version="20130227" mode="Release" compact="true" compress="true" cacheDuration="2592000">
  <references>
    <reference name="jQuery" mimeType="text/javascript">
      <add filename="~/Scripts/jquery.js"/>
      <add filename="~/Scripts/jquery-globalize/globalize.js"/>

      <add filename="~/Scripts/jquery.form.custom.js"/>
      <add filename="~/Scripts/jquery.unobtrusive-ajax.js"/>
      <add filename="~/Scripts/jquery.validate.js"/>
      <add filename="~/Scripts/jquery.validate.unobtrusive.js"/>
    </reference>

    <reference name="jQuery-Styles" mimeType="text/css">
      <add filename="~/Styles/validation.css"/>
    </reference>
  </references>

</webResources>