<?xml version="1.0"?>
<webResources version="20140305" mode="Release" compact="true" compress="true" cacheDuration="2592000" >
  <references>
<!--    <reference name="adminScripts" mimeType="text/javascript">
      <add filename="~/Scripts/jquery.js"/>
      <add filename="~/Scripts/jquery-globalize/globalize.js"/>

      <add filename="~/Scripts/jquery.unobtrusive-ajax.js"/>
      <add filename="~/Scripts/jquery.validate.js"/>
      <add filename="~/Scripts/jquery.validate.unobtrusive.js"/>
      <add filename="~/Scripts/jquery-ui.js"/>
      <add filename="~/Scripts/jquery.ui.touch-punch.min.js"/>
      <add filename="~/Scripts/jquery.ui.resizable.js"/>
      <add filename="~/Scripts/jquery-ui-timepicker-addon/jquery-ui-timepicker-addon.js"/>
      <add filename="~/Scripts/jquery.dialogextend.js"/>
      <add filename="~/Scripts/jquery.form.custom.js"/>
      <add filename="~/Scripts/jquery.numeric.js"/>
      <add filename="~/Scripts/jquery.json-2.2.js"/>
      <add filename="~/Scripts/jquery.maskedinput.js"/>
      <add filename="~/Scripts/jquery.watermarkinput.js"/>
      <add filename="~/Scripts/jquery.cookie.js"/>
      <add filename="~/Scripts/jquery.numeric.js"/>
      <add filename="~/Scripts/jquery.filestyle.js"/>
      <add filename="~/Scripts/jquery.autosize.js"/>
      <add filename="~/Scripts/jquery.fileDownload.js"/>

      <add filename="~/Scripts/knockout.js"/>
      <add filename="~/Scripts/knockout.mapping.js"/>

      <add filename="~/Scripts/underscore.js"/>

      <add filename="~/Scripts/select2.min.js"/>

      <add filename="~/Scripts/codeMirror/lib/codemirror.js" compact="false"/>
      <add filename="~/Scripts/codeMirror/mode/javascript/javascript.js"/>
      <add filename="~/Scripts/codeMirror/mode/css/css.js"/>
      <add filename="~/Scripts/codeMirror/mode/xml/xml.js"/>
      <add filename="~/Scripts/codeMirror/mode/htmlmixed/htmlmixed.js"/>
      <add filename="~/Scripts/codeMirror/addon/search/search.js"/>
      <add filename="~/Scripts/codeMirror/addon/search/searchcursor.js"/>
      <add filename="~/Scripts/codeMirror/addon/dialog/dialog.js"/>
      <add filename="~/Scripts/codeMirror/addon/fold/foldcode.js"/>
      <add filename="~/Scripts/codeMirror/addon/edit/closetag.js"/>
      <add filename="~/Scripts/codeMirror/jquery.codeMirrorBridge.js"/>

      <add filename="~/Scripts/Kooboo_CMS.js"/>
      <add filename="~/Scripts/yardiTip/yardiTip.js"/>
    </reference>

    <reference name="adminStyles" mimeType="text/css">
      <add filename="~/Styles/jquery-ui.css"/>
      <add filename="~/Styles/jquery-ui-timepicker-addon.css"/>
      <add filename="~/Scripts/codeMirror/lib/codemirror.css"/>
      <add filename="~/Scripts/codeMirror/addon/dialog/dialog.css"/>
      <add filename="~/Styles/select2/select2.css"/>

      <add filename="~/Styles/main.less"/>
    </reference>-->

    <reference name="logonScripts" mimeType="text/javascript">
      <add filename="~/Scripts/html5shiv.js" if="lte IE 8"/>
      <add filename="~/Scripts/selectivizr-min.js" if="lte IE 8"/>

      <add filename="~/Scripts/jquery.js"/>
      <add filename="~/Scripts/jquery.validate.js"/>
      <add filename="~/Scripts/jquery.validate.unobtrusive.js"/>
    </reference>



  </references>

</webResources>